{% extends 'django_salary/components/base.html' %}

{% load static %}

{% block title %}Замена статуса разбора{% endblock title %}
{% block main %}
<div class="container mt-5">
    <h3 class="mb-3">Замена статуса разбора</h3>
    <h7 class="mb-3 text-danger">* - помечены обязательные поля для заполнения</h7>
    <form method="post" action="{% url 'order_update_for_staff' pk_id %}">
        {% csrf_token %}

        <hr class="my-4" style="opacity: 0.1;">

        <div class="col-12">
          <label for="parsing_status" class="form-label">Статус разбора*</label>
            <select class="form-select" name="parsing_status" id="parsing_status" required>
                {% if order_obj.parsing_status == "Выкуплен" %}
                <option value="Выкуплен" selected>Выкуплен</option>
                <option value="Отправлен к кор">Отправлен к кор</option>
                <option value="Прибыл к кор">Прибыл к кор</option>
                <option value="Отправлен в KZ">Отправлен в KZ</option>
                <option value="Прибыл в KZ">Прибыл в KZ</option>
                <option value="Возврат">Возврат</option>
                {% elif order_obj.parsing_status == "Отправлен к кор" %}
                <option value="Выкуплен">Выкуплен</option>
                <option value="Отправлен к кор" selected>Отправлен к кор</option>
                <option value="Прибыл к кор">Прибыл к кор</option>
                <option value="Отправлен в KZ">Отправлен в KZ</option>
                <option value="Прибыл в KZ">Прибыл в KZ</option>
                <option value="Возврат">Возврат</option>
                {% elif order_obj.parsing_status == "Прибыл к кор" %}
                <option value="Выкуплен">Выкуплен</option>
                <option value="Отправлен к кор">Отправлен к кор</option>
                <option value="Прибыл к кор" selected>Прибыл к кор</option>
                <option value="Отправлен в KZ">Отправлен в KZ</option>
                <option value="Прибыл в KZ">Прибыл в KZ</option>
                <option value="Возврат">Возврат</option>
                {% elif order_obj.parsing_status == "Отправлен в KZ" %}
                <option value="Выкуплен">Выкуплен</option>
                <option value="Отправлен к кор">Отправлен к кор</option>
                <option value="Прибыл к кор">Прибыл к кор</option>
                <option value="Отправлен в KZ" selected>Отправлен в KZ</option>
                <option value="Прибыл в KZ">Прибыл в KZ</option>
                <option value="Возврат">Возврат</option>
                {% elif order_obj.parsing_status == "Прибыл в KZ" %}
                <option value="Выкуплен">Выкуплен</option>
                <option value="Отправлен к кор">Отправлен к кор</option>
                <option value="Прибыл к кор">Прибыл к кор</option>
                <option value="Отправлен в KZ">Отправлен в KZ</option>
                <option value="Прибыл в KZ" selected>Прибыл в KZ</option>
                <option value="Возврат">Возврат</option>
                {% elif order_obj.parsing_status == "Возврат" %}
                <option value="Выкуплен">Выкуплен</option>
                <option value="Отправлен к кор">Отправлен к кор</option>
                <option value="Прибыл к кор">Прибыл к кор</option>
                <option value="Отправлен в KZ">Отправлен в KZ</option>
                <option value="Прибыл в KZ">Прибыл в KZ</option>
                <option value="Возврат" selected>Возврат</option>
                {% endif %}
              </select>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <hr class="my-4" style="opacity: 0.1;">

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Изменить</button>
        </div>

    </form>
<hr class="my-4" style="opacity: 0;">
<hr class="my-4" style="opacity: 0;">
  </div>
{% endblock main %}