{% extends 'django_salary/components/base.html' %}
{% load static %}
{% block title %}Статистика{% endblock title %}
{% block main %}

<div class="container mt-5">
    <h3 class="mb-4">Ваша статистика</h3>
{% if not user.is_superuser %}
    <div class="my-4">
        <a type="button" href="{% url 'download_excel_statistic' %}" class="btn btn-primary">Скачать все данные в Excel</a>
    </div>
{% endif %}
{#    <a href="{% url 'order_register' baseorder_pk %}" type="button" class="btn btn-primary">Добавить позицию к разбору</a>#}
    <hr class="my-4" style="opacity: 0;">
    <form method="get" action="{% url 'user_statistic' %}">
    <div class="row g-3">
        <div class="col-md-2">
          <label for="country" class="form-label">Дата от</label>
            <input type="date" class="form-control" name="date_from" id="date_from" value="{{ date_from }}" max="{{ date_now }}">
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>

        <div class="col-md-2">
          <label for="state" class="form-label">Дата до</label>
            <input type="date" class="form-control" name="date_to" id="date_to" value="{{ date_to }}" max="{{ date_now }}">
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>

        <div class="col-md-2">
        <label for="oplata_status" class="form-label">Неоплаченные зарплаты</label>
            {% if oplata_status %}
          <input type="checkbox" class="form-check-input" name="oplata_status" id="oplata_status" checked>
            {% else %}
          <input type="checkbox" class="form-check-input" name="oplata_status" id="oplata_status">
            {% endif %}
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>

        {% if user.is_superuser %}
        <div class="col-md-2">
          <label for="state" class="form-label">Персонал</label>
            <select class="form-select" name="user_name" id="user_name" required>
                {% for elem_of_username in list_of_username %}
                    {% if user_name == "" %}
                        <option value="{{ elem_of_username }}">{{ elem_of_username }}</option>
                    {% else %}
                        {% if elem_of_username == user_name %}
                            <option value="{{ elem_of_username }}" selected>{{ elem_of_username }}</option>
                        {% else %}
                            <option value="{{ elem_of_username }}">{{ elem_of_username }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        {% endif %}

        <div class="col-md-2">
<!--{#          <a href="{% url 'user_statistic' date_from date_to %}">Поиск</a>#}-->
<!--          <a href="#" type="button" class="btn btn-primary">Поиск</a>-->
            <button type="submit" class="btn btn-primary">Фильтрация</button>
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>
      </div>
    </form>
    <hr class="my-4" style="opacity: 0;">
{#  <a href="{% url '#' %}" type="button" class="btn btn-primary">Изменить</a>#}
{#  <a href='#' type="button" class="btn btn-primary">Изменить</a>#}
{#    <hr class="my-4" style="opacity: 0;">#}

  <div class="container">
  {% if not user.is_superuser %}
      <table class="table table-bordered border border-black">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Пользователь</th>
              <th scope="col">Дата разбора</th>
              <th scope="col">Номер разбора</th>
              <th scope="col">Группа/Исполнитель</th>
              <th scope="col">Название карты</th>
              <th scope="col">Зарплата</th>
              <th scope="col">Статус разбора</th>
              <th scope="col">Статус зарплаты</th>
            </tr>
            </thead>
            <tbody>
          {%  for order_obj in orders %}
            <tr>
                <td>{{ order_obj.order_numeration }}</td>
                <td>{{ order_obj.author }}</td>
                <td>{{ order_obj.parsing_date }}</td>
                <td>{{ order_obj.parsing_numeration }}</td>
                <td>{{ order_obj.band_or_performer }}</td>
                <td>{{ order_obj.card_name }}</td>
                <td>{{ order_obj.zarplata }}</td>
                {% if order_obj.parsing_status == "Выкуплен" %}
                    <td><div style="color: red">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Отправлен к кор" %}
                    <td><div style="color: darkorange">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Прибыл к кор" %}
                    <td><div style="color: purple">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Отправлен в KZ" %}
                    <td><div style="color: deepskyblue">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Прибыл в KZ" %}
                    <td><div style="color: green">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Возврат" %}
                    <td><div style="color: red">{{ order_obj.parsing_status }}</div></td>
                {% endif %}
                <td>
                    {% if order_obj.zarplata_status == "-" %}
                  <div class="text-danger">-</div>
                    {% elif order_obj.zarplata_status %}
                  <div class="text-success">Оплачено</div>
                    {% elif not order_obj.zarplata_status %}
                  <div class="text-danger">Не оплачено</div>
                    {% endif %}
                </td>
            </tr>
              {% empty %}
              <td class="text-danger">Нет элементов у разбора</td>
          {% endfor %}
      </table>
  {% else %}
    <table class="table table-bordered border border-black">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Пользователь</th>
              <th scope="col">Дата разбора</th>
              <th scope="col">Номер разбора</th>
              <th scope="col">Группа/Исполнитель</th>
              <th scope="col">Название карты</th>
              <th scope="col">Зарплата</th>
              <th scope="col">Статус разбора</th>
              <th scope="col">Статус зарплаты</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
          {%  for order_obj in orders %}
            <tr>
                <td>{{ order_obj.order_numeration }}</td>
                <td>{{ order_obj.author }}</td>
                <td>{{ order_obj.parsing_date }}</td>
                <td>{{ order_obj.parsing_numeration }}</td>
                <td>{{ order_obj.band_or_performer }}</td>
                <td>{{ order_obj.card_name }}</td>
                <td>{{ order_obj.zarplata }}</td>
                {% if order_obj.parsing_status == "Выкуплен" %}
                    <td><div style="color: red">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Отправлен к кор" %}
                    <td><div style="color: darkorange">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Прибыл к кор" %}
                    <td><div style="color: purple">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Отправлен в KZ" %}
                    <td><div style="color: deepskyblue">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Прибыл в KZ" %}
                    <td><div style="color: green">{{ order_obj.parsing_status }}</div></td>
                {% elif order_obj.parsing_status == "Возврат" %}
                    <td><div style="color: red">{{ order_obj.parsing_status }}</div></td>
                {% endif %}
                <td>
                    {% if order_obj.zarplata_status == "-" %}
                  <div class="text-danger">-</div>
                    {% elif order_obj.zarplata_status %}
                  <div class="text-success">Оплачено</div>
                    {% elif not order_obj.zarplata_status %}
                  <div class="text-danger">Не оплачено</div>
                    {% endif %}
                </td>
                <td><a type="button" class="btn btn-primary" href="{% url 'zp_bool_change' order_obj.id %}">Изменить статус оплаты</a></td>
            </tr>
              {% empty %}
              <td class="text-danger">Нет элементов у разбора</td>
          {% endfor %}
      </table>
  {% endif %}
  <hr class="my-4" style="opacity: 0.1;">
  {% if length_result != 0 %}
      <p class="my-4 text-end">Общая зарплата: {{ zarplata_sum }}</p>
  {% endif %}
  </div>
</div>
{% endblock main %}